.input {
  display: flex;
  align-items: center;
}

.input label {
  font-weight: bold;
  margin-right: 10px;
}

.input input {
  width: 5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  line-height: 32px;
}
