.select-box {
  position: relative;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background: url("../../img/icon-arrowdown.png") calc(100% - 10px) center
    no-repeat;
  background-size: 14px;
  background-color: var(--section-background-color);
  border: 1.5px solid #e1e1e1;
}

.select-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 35px;
  border: 1px solid #e1e1e1;
  height: 28px;
  box-sizing: border-box;
  transform: translate(0, -1px);
}

.select-box .select-label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
}

.select-box .option-list {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  background: lightcoral;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in;
}

.select-box .option-item {
  border-bottom: 1px dashed rgb(170, 72, 72);
  padding: 5px 15px 5px;
  transition: 0.1s;
}

.select-box .option-Item:hover {
  background: rgb(175, 93, 93);
}
